asgiref==3.8.1
attrs==24.2.0
black==24.8.0
click==8.1.7
Django==4.2.16
djangorestframework==3.15.2
drf-spectacular==0.27.2
flake8==7.1.1
graphql-core==3.2.4
inflection==0.5.1
isort==5.13.2
jsonschema==4.23.0
jsonschema-specifications==2023.12.1
mccabe==0.7.0
mypy-extensions==1.0.0
packaging==24.1
pathspec==0.12.1
platformdirs==4.3.2
pycodestyle==2.12.1
pyflakes==3.2.0
python-dateutil==2.9.0.post0
pytz==2024.2
PyYAML==6.0.2
referencing==0.35.1
rpds-py==0.20.0
six==1.16.0
sqlparse==0.5.1
strawberry-graphql==0.240.0
strawberry-graphql-django==0.47.2
typing_extensions==4.12.2
uritemplate==4.1.1
